.appHeader > h1 {
  line-height: 80%;
}

.appHeader > h2 {
  line-height: 80%;
}

.cards {
  height: calc(100vh - 250px);
  box-shadow: 2px 2px 12px 2px gold;
}

.card {
  width: 200px;
  max-height: 200px;
}

.brand {
  font-weight: 700;
}

.digit {
  width: 20px;
  height: 25px;
  text-align: center;
}

#name::placeholder,
#price::placeholder
 {
color: rgb(172, 171, 171);
}

.slider-container {
  box-shadow: 2px 2px 12px 2px gold;
}